{% extends 'email/layout/template.html.twig' %}

{% block content %}

<p>
    {{ 'password_reset.email.click_link'|trans(domain='security') }}
</p>

<p>
    {% include 'email/includes/button.html.twig'
        with {
            url: url('password_reset_reset', {token: resetToken.token}),
            text: 'password_reset.email.button'|trans(domain='security'),
            width: 250
        }
    %}
</p>

<p>
	{{ 'registration.validation_email.fallback_link'|trans(domain='security') }}
</p>

<p>
	{{ url('password_reset_reset', {token: resetToken.token})|raw }}
</p>

<p>
    {{ 'password_reset.email.validity'|trans(domain='security') }}
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>

{% endblock %}

{% block footer_line_1 '' %}
