{% extends 'base.html.twig' %}

{% block title %}{{ person.name }}{% endblock %}

{% block body_class 'floating-cards' %}

{% block body %}

<h1>{{ person.name }}</h1>

<img src="{{ vich_uploader_asset(person, 'imageFile') }}" alt="{{ person.name }}" />

<p>
    {{ person.description|nl2br }}
</p>

<h2>Vidéos</h2>

{% include 'video/list.html.twig' with {'videos': person.videos} %}

{% endblock %}
