<div class="card card-food">
    {% if food.medias is not empty %}
        <a href="{{ url }}" class="card-image-wrapper">
            <img 
                src="{{ uploaded_asset(food.medias.first)|imagine_filter('thumb_card') }}"
                width="700"
                height="700"
            />
        </a>
    {% else %}
        <a href="{{ url }}" class="card-image-wrapper">
            {% include 'media/_placeholder_image.html.twig' %}
        </a>
    {% endif %}

    <div class="card-info">
        <h3 class="card-title">
            <a href="{{ url }}">
                {{ food|trans }}
            </a>
        </h3>

        <div class="card-bottom">
            <div class="card-tags tags">
                {% for tag in food.tags %}
                    <span class="tag trip-tag tag-{{ tag.slugEn }}">{{ tag|trans }}</span>
                {% endfor %}
                TODO
            </div>
        </div>

    </div>
</div>
