<div class="card card-food">
    {% if media %}
        <a href="{{ url }}" class="card-image-wrapper">
            <img src="{{ uploaded_asset(media)|imagine_filter('thumb_card') }}"/>
        </a>
    {% else %}
        <a href="{{ url }}" class="card-image-wrapper">
            {% include 'media/_placeholder_image.html.twig' %}
        </a>
    {% endif %}

    <div class="card-info">
        <h3 class="card-title">
            <a href="{{ url }}">
                {{ media.food|trans }}
            </a>
        </h3>

        <div class="card-bottom">
            <div class="card-tags tags">
                {% for tag in media.tags %}
                    <span class="tag trip-tag tag-{{ tag.slugEn }}">{{ tag|trans }}</span>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
