<div id="top-filters">
	<a href="{{ path('food_by_country_index') }}" class="{{ app.current_route in ['food_by_country_index', 'food_index'] ? 'current' }}">
		{{ 'Food by country'|trans }}
	</a>
	<a href="{{ path('food_by_cuisine_index') }}" class="{{ app.current_route == 'food_by_cuisine_index' ? 'current' }}">
		{{ 'Food by cuisine'|trans }}
	</a>
	<a href="{{ path('food_by_tag_index') }}" class="{{ app.current_route == 'food_by_tag_index' ? 'current' }}">
		{{ 'Food by type'|trans }}
	</a>
	<a href="{{ path('food_by_ingredient_index') }}" class="{{ app.current_route == 'food_by_ingredient_index' ? 'current' }}">
		{{ 'Food by ingredient'|trans }}
	</a>
</div>
