{% extends 'layout/default.html.twig' %}

{% block title %}
	{{ food }}
{% endblock %}

{% block content %}
	{% for media in food.medias %}
		<img
			src="{{ uploaded_asset(media)|imagine_filter('thumb_card') }}"
			width="700"
			height="700"
		/>

		{% for tags in media.tags %}
			{{ tags|trans }}
		{% endfor %}

		<div>
			{{ media.takenAt|format('Y-m-D') }}
		</div>

		<div>
			{{ media.place }}
		</div>
	{% endfor %}

{% endblock %}
