{% extends 'base.html.twig' %}

{% block title %}{{ level.name }}{% endblock %}

{% block body %}

<h1>{{ level.name }}</h1>

{% for video in level.videos %}
<p>
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/{{ video.url }}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <ul class="tags">
        {% for level in video.levels %}
            <li class="tag--level">
                <a href="{{ path('level_show', { slug: level.slug }) }}">{{ level }}</a>
            </li>
        {% endfor %}
    </ul>
</p>
{% endfor %}

{% endblock %}
