<div class="card card-trip" id="card-{{ trip.id }}">
    {% if trip.cover %}
        <a href="{{ path(trip) }}" class="card-image-wrapper">
            <img src="{{ vich_uploader_asset(trip.cover)|imagine_filter('thumb_card') }}"/>
        </a>
    {% else %}
        <a href="{{ path(trip) }}" class="card-image-wrapper">
            {% include 'picture/_placeholder_image.html.twig' %}
        </a>
    {% endif %}

    <div class="card-info">
        <h3 class="card-title">
            <a href="{{ path(trip) }}">
                {{ trip|trans }}
            </a>
        </h3>

        <div class="card-period">
            {{ trip.period }}   
        </div>

        <div class="card-bottom">
            <div class="card-tags tags">
                {% for tag in trip.tripTags %}
                    {% if tag.nameEn in ['Slow travel', 'Hiking trip'] %}
                        <span class="tag trip-tag tag-{{ tag.slugEn }}">{{ tag|trans }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>
