{% extends 'layout/default.html.twig' %}

{% block body_extra_classes %}trip-page{% endblock %}

{% block content %}

    {% include 'trip/_top_filters.html.twig' %}

    <div id="cover">
        {% if trip.cover %}
            <img
                src="{{ uploaded_asset(trip.cover)|imagine_filter('thumb_large') }}"
                width="{{ trip.cover.width }}"
                height="{{ trip.cover.height }}"
            />
        {% endif %}
    </div>

    <div id="description">
        {{ trip.description(app.locale)|nl2br }}
    </div>

    <div id="highlights">
        {% for highlight in trip.highlights %}
            <img 
                src="{{ uploaded_asset(highlight)|imagine_filter('thumb_card') }}"
                width="700"
                height="700"
            />
        {% endfor %}
    </div>

    <div>
        <a class="btn btn-default" href="{{ path('trip_gallery', {slug: trip.slug(app.locale)}) }}">
            Show gallery
        </a>
    </div>

    <div id="countries">
        {% for country in trip.countries %}
            {{ country|trans }}
        {% endfor %}
    </div>

{% endblock %}
