{% extends 'base.html.twig' %}

{% block title %}{{ duration.name }}{% endblock %}

{% block body %}

<h1>{{ duration.name }}</h1>

{% for video in duration.videos %}
<p>
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/{{ video.url }}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <ul class="tags">
        {% for duration in video.durations %}
            <li class="tag--duration">
                <a href="{{ path('duration_show', { slug: duration.slug }) }}">{{ duration }}</a>
            </li>
        {% endfor %}
    </ul>
</p>
{% endfor %}

{% endblock %}
