{% extends 'base.html.twig' %}

{% block title %}{{ person.name }}{% endblock %}

{% block body %}

<h1>{{ person.name }}</h1>

{% for video in person.videos %}
<p>
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/{{ video.url }}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <ul class="tags">
        {% for person in video.people %}
            <li class="tag--person">
                <a href="{{ path('person_show', { slug: person.slug }) }}">{{ person }}</a>
            </li>
        {% endfor %}
    </ul>
</p>
{% endfor %}

{% endblock %}
