{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block body %}

<h1>{{ tag.name }}</h1>

{% for video in tag.videos %}
<p>
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/{{ video.url }}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <ul class="tags">
        {% for tag in video.tags %}
            <li>
                <a href="{{ path('tag_show', { slug: tag.slug }) }}">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
</p>
{% endfor %}

{% endblock %}
